body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&dl=vincentiu-solomon-ln5drpv_ImI-unsplash.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Garamond', serif;
  overflow: hidden;
  color: #000;
  text-align: center; /* Center text by default */
}

.gif-container {
  margin-top: 2rem; /* Add top margin to gif-container */
}

h1 {
  font-size: 4rem; /* Adjust font size for better mobile readability */
  margin-bottom: 2rem; /* Adjust margins for better spacing on mobile */
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.5); 
}

h2 {
  display: flex; 
  justify-content: center; 
  margin-top: 1rem; /* Adjust margins for better spacing on mobile */
}

button {
  padding: 1rem 2rem; /* Adjust padding for better touch target size */
  font-size: 1.2rem; 
  border: none;
  border-radius: 10px; 
  cursor: pointer;
  margin: 0.5rem; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

#yes {
  background-color: #99ff99; 
  color: white; 
  font-family: 'Garamond', bold; 
}

#no {
  background-color: #8B0000; 
  color: white; 
  font-family: 'Garamond', bold; 
}

#congratulations {
  display: none;
  font-size: 2rem; 
  margin-top: 1rem; 
  color: #ff9999; 
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.5);
}
