body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('https://i.pinimg.com/originals/e4/56/00/e45600da4c21d19e7e3007f58bb8d89d.jpg'); 
  background-size: cover; 
  background-position: center; 
  font-family: 'Garamond', serif; 
  overflow: hidden; 
  color: #000; 
}

h1 {
  text-align: center;
  font-size: 60px; 
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.5); 
  margin-bottom: 20px; 
}

h2 {
  display: flex; 
  justify-content: center; 
}

button {
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

#yes {
  background-color: #99ff99; 
  color: white; 
  font-family: 'Garamond', bold; 
}

#no {
  background-color: #8B0000; 
  color: white; 
  font-family: 'Garamond', bold; 
}

#congratulations {
  display: none;
  text-align: center; 
  font-size: 30px;
  color: #ff9999; 
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.5);
}
